* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}


body>a {
    display: inline-block;
    margin: 6px 0;
    padding: 8px 14px;
    background: rgba(152, 74, 204, 0.6);
    border-radius: 20px;
    font-weight: bold;
    color: #5a3e2b;
    text-decoration: none;
    transition: all 0.3s ease;
}

body>a:hover {
    background: #5a3e2b;
    color: #ec4fab;
    transform: translateX(6px);
}


h1 {
    text-align: center;
    font-size: 5Opx;
    margin: 50px 0 10px;
    letter-spacing: 1px;
    animation: fadeIn 1.5s ease;
}

p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
    animation: fadeIn 2s ease;
}


h3 {
    text-align: center;
    margin-top: 60px;
    font-size: 1.4em;
    color: #eb2737;

}


h3::after {
    width: 60px;
    height: 3px;
    background: #419dda;
    display: block;
    margin: 10px auto 20px;
    border-radius: 10px;
}


h3+br+a,
a+br+img,
h3+br+text+a {
    text-align: center;
}


img {
    display: block;
    margin: 20px auto 50px;
    width: 400px;
    max-width: 90%;
    border-radius: 14px;
    box-shadow: 0 15px 30px rgba(252, 30, 30, 0.801);
    transition: all 0.4s ease;
}


img:hover {
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
}


a[href*=".html"]:not(body > a) {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 1.05em;
}




@media (max-width: 480px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    .menu {
        list-style: none;
        padding: 0;
        background-color: rgba(5, 55, 61, 0.89);
        text-align: center;
    }

    .menu li {
        padding: 12px;
    }

    .menu a {
        color: aliceblue;
        text-decoration: none;
        font-weight: bold;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    input,
    textarea,
    button {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .menu li {
        display: inline-block;
        padding: 12px 15px;
    }

    p {
        margin: 15px 40px;
    }

    form {
        margin: 20px;
    }
}

@media (min-width: 769px) {
    .menu li {
        display: inline-block;
        padding: 12px 20px;
    }

    p {
        max-width: 900px;
        margin: 15px auto;
    }

    form {
        max-width: 500px;
        margin: 20px auto;
    }

    footer {
        text-align: center;
        padding: 12px;
    }
}


nav {
    background-color: rgba(5, 55, 61, 0.89);
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #0c5e17;
    display: flex;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #df2433;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}


body {
    background-color: rgba(111, 219, 226, 0.925);

    font-family: "Georgia", serif;

    padding: 40px;

}

footer {
    background-color: #a7cf48;
    color: black;
    text-align: center;
    padding: 0px;
    margin: auto;
}

form {
    width: 700px;
    margin: 100px;
    background-color: aqua;
    padding: 20px;
    border-radius: 7px;
}

input,
textarea {
    width: 100%;
    padding: 7px;
    font-family: Georgia, serif;
    border: 2px solid red;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 33px;
    cursor: pointer;
    font-size: 33px;
    border-radius: 5px;
    text-align: center;

}

input[type="submit"]:hover {
    background-color: rgb(175, 51, 159);
}